*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.card{
  width: 300px;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
}